<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h4>Let's connect</h4>
        <ul class="social-media-list">
          <li>
            <a href="https://www.linkedin.com/in/maksimsundukov" target="_new"><img class="social-icon" src="/img/linkedin.png"><span class="username">LinkedIn</span></a>
          </li>

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          <li>
            <a href="https://instagram.com/e_xor" target="_new"><img class="social-icon" src="/img/instagram.png"><span class="username">Instagram</span></a>
          </li>

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>&copy; Maksim Sundukov 2017 | All Rights Reserved.</p>
      </div>
    </div>

  </div>

</footer>
